<!DOCTYPE html>
<html lang="en" meta charset="UTF-8" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Admin panel</title>
    <script type="text/javascript" src="webjars/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="webjars/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script type="text/javascript" th:src="@{js/main.js}" src="../static/js/main.js"></script>

</head>
<body>
<div class="container-fluid">
    <div class="row text-light bg-dark">
        <p class="col mt-2 mb-2"><span class="font-weight-bold" th:text="${activeUser.email}"></span>
            <span> with roles: </span>
            <span class="font-weight-bold" th:text="${activeUser.getRole(activeUser)}"></span>
        </p>
        <p class="col text-light mt-2 mb-2">
            <a class="float-right text-light" th:href="@{/logout}" method="POST">
                logout
            </a>
        </p>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 p-0">
            <!--            <a th:href="@{/admin}" class="btn btn-outline-primary eBtn btn-block border-0">Admin</a>-->
            <a th:href="@{/admin}" class="btn btn-primary btn-block">Admin</a>
            <a th:href="@{/user}" class="btn btn-outline-primary btn-block border-0">User</a>
        </div>
        <div class="col-md-10 bg-light">
            <div>
                <h1>Admin panel</h1>
            </div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                       aria-controls="home"
                       aria-selected="true">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                       aria-controls="profile"
                       aria-selected="false">New User</a>
                </li>
            </ul>
            <!--Вкладки начало-->
            <div class="tab-content" id="myTabContent">
                <!--     Users table начало-->
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <ul class="h3">All users</ul>

                    <div class="card">
                        <div class="card-block">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Surname</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${users}">
                                    <td th:text="${user.id}"></td>
                                    <td th:text="${user.name}"></td>
                                    <td th:text="${user.surname}"></td>
                                    <td th:text="${user.email}"></td>
                                    <td th:text="${user.getRole(user)}"></td>
                                    <td>
                                        <!--                        Кнопка запуска js-->
                                        <a th:href="@{admin/findOne/(id=${user.id})}"
                                           class="btn btn-primary eBtn">Edit</a>
                                    </td>
                                    <td>
                                        <a th:href="@{admin/findOne/(id=${user.id})}"
                                           class="btn btn-danger dBtn">Delete</a>

                                    </td>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--     Users table конец-->
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <ul class="h3">Add new user</ul>
                    <!--     Вкладка New User начало-->
                    <div class="myForm">
                        <form th:action="@{/create}" method="post">
                            <div class="modal-content modal-dialog-centered">
                                <div class="modal-body col-md-4">
                                    <div class="mb-3">
                                        <label for="name" class="d-flex justify-content-center">Name</label>
                                        <input type="text" class="form-control" id="newUsername" name="name" value=""/>
                                    </div>
                                    <div class="mb-3">
                                        <label for="surname" class="d-flex justify-content-center">Surname</label>
                                        <input type="text" class="form-control" id="newUserSurname" name="surname"
                                               value=""/>
                                    </div>
                                    <div class="mb-3">
                                        <label for="email" class="d-flex justify-content-center">Email</label>
                                        <input type="text" class="form-control" id="newUserEmail" name="email"
                                               value=""/>
                                    </div>
                                    <div class="mb-3">
                                        <label for="password" class="d-flex justify-content-center">Password</label>
                                        <input type="password" class="form-control" id="newUserPassword" name="password"
                                               value=""/>
                                    </div>
                                    <div class="form-group text-center">
                                        <label for="listOfRoles" class="d-flex justify-content-center">Roles</label>
                                        <select id="newUserListOfRoles" class="form-select col-lg" multiple
                                                name="roles[]">
                                            <option id="newUserRoleAdmin" name="roleAdmin" value="ROLE_ADMIN">ADMIN
                                            </option>
                                            <option id="newUserRoleUser" name="roleUser" value="ROLE_USER">USER</option>
                                        </select>
                                    </div>
                                    <div class="modal-footer d-flex justify-content-center">

                                        <input type="submit" class="btn btn-success" value="Add new user"/>

                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                    <!--     Вкладка New User конец-->
                </div>
            </div>
        </div>
    </div>

    <!--   Модалка редактирование начало-->
    <div class="editForm">
        <form th:action="@{/update}" method="post">
            <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabel">Update user</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3" id="id-field">
                                <label for="id" class="col-form-label">ID</label>
                                <input readonly type="number" class="form-control" id="id" name="id" value=""/>
                            </div>
                            <div class="mb-3">
                                <label for="name" class="col-form-label">Name</label>
                                <input type="text" class="form-control" id="name" name="name" value=""/>
                            </div>
                            <div class="mb-3">
                                <label for="surname" class="col-form-label">Surname</label>
                                <input type="text" class="form-control" id="surname" name="surname" value=""/>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="col-form-label">Email</label>
                                <input type="text" class="form-control" id="email" name="email" value=""/>
                            </div>
                            <div class="mb-3" id="password-field">
                                <label for="password" class="col-form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="password" value=""/>
                            </div>
                            <div class="form-group text-center">
                                <select id="listOfRoles" class="form-select col-lg" multiple name="roles[]">
                                    <option id="roleAdmin" name="roleAdmin" value="ROLE_ADMIN">ADMIN</option>
                                    <option id="roleUser" name="roleUser" value="ROLE_USER">USER</option>
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                </button>
                                <input type="submit" class="btn btn-primary" value="update"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!--   Модалка редактирование конец-->
    <!--   Модальное окно удаление начало-->
    <div class="deleteForm">
        <form th:action="@{/delete}" method="post">
            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>

                        <div class="modal-body row justify-content-center">
                            <div class="col-md-6">
                                <div class="mb-3" id="delete-id-field">
                                    <label for="deleteId"
                                           class="col-form-label font-weight-bold d-flex justify-content-center">ID</label>
                                    <input readonly type="number" class="form-control" id="deleteId" name="id"
                                           value=""/>
                                </div>
                                <div class="mb-3">
                                    <label for="deleteName"
                                           class="col-form-label font-weight-bold d-flex justify-content-center">Name</label>
                                    <input readonly type="text" class="form-control" id="deleteName" name="deleteName"
                                           value=""/>
                                </div>
                                <div class="mb-3">
                                    <label for="deleteSurname"
                                           class="col-form-label font-weight-bold d-flex justify-content-center">Surname</label>
                                    <input readonly type="text" class="form-control" id="deleteSurname"
                                           name="deleteSurname"
                                           value=""/>
                                </div>
                                <div class="mb-3">
                                    <label for="deleteEmail"
                                           class="col-form-label font-weight-bold d-flex justify-content-center">Email</label>
                                    <input readonly type="text" class="form-control" id="deleteEmail" name="deleteEmail"
                                           value=""/>
                                </div>

                                <div class="form-group text-center">
                                    <label for="deleteListOfRoles"
                                           class="col-form-label font-weight-bold d-flex justify-content-center">Role</label>
                                    <select readonly id="deleteListOfRoles" class="form-select col-lg" multiple
                                            name="roles[]" disabled>
                                        <option id="deleteRoleAdmin" name="roleAdmin" value="ROLE_ADMIN">ADMIN</option>
                                        <option id="deleteRoleUser" name="roleUser" value="ROLE_USER">USER</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">CLose</button>
                            <!--<a th:href="@{admin/user-delete/{id}(id=${user.id})}" class="btn btn-danger dBtn">Delete</a>-->
                            <input type="submit" class="btn btn-danger" value="delete"/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!--   Модальное окно удаление конец-->
</div>
<!--<div th:switch="${users}">-->
<!--    <h2 th:case="null">No users found!</h2>-->
<!--    <div th:case="*">-->
<!--        <h2>Users</h2>-->
<!--        <table border="1">-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th>Id</th>-->
<!--                <th>Name</th>-->
<!--                <th>SurName</th>-->
<!--                <th>email</th>-->
<!--                <th>password</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tr th:each="user : ${users}">-->
<!--                <td th:utext="${user.id}"></td>-->
<!--                <td th:utext="${user.name}"></td>-->
<!--                <td th:utext="${user.surname}"></td>-->
<!--                <td th:utext="${user.email}"></td>-->
<!--                <td th:utext="${user.password}"></td>-->
<!--                <td><a th:href="@{admin/user-update/{id}(id=${user.id})}">Edit</a></td>-->
<!--                <td><a th:href="@{admin/user-delete/{id}(id=${user.id})}">Delete</a></td>-->
<!--            </tr>-->

<!--        </table>-->


<!--    </div>-->


<!--    &lt;!&ndash;    <p><a href="admin/user-create">User create</a></p>&ndash;&gt;-->
<!--    </br>-->
<!--    <form th:action="@{admin/user-create}" method="GET">-->
<!--        <input type="submit" value="Create user">-->
<!--    </form>-->
<!--    </br>-->
<!--    <form th:action="@{/logout}" method="POST">-->
<!--        <input type="submit" value="logout"/>-->
<!--    </form>-->
<!--</div>-->
</body>
</html>