<!DOCTYPE html>
<html lang="en" meta charset="UTF-8" xmlns:th="https://www.thymeleaf.org">

<title>User create</title>
<body>
<form action="#" th:action="@{/admin/user-create}" th:object="${user}" method="post">
    <label for="name">User name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    </br>
    <label for="surname">User Surname</label>
    <input type="text" th:field="*{surname}" id="surname" placeholder="SurName">
    </br>
    <label for="email">User email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="email">
    </br>
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="password">
    </br>


    <input type=checkbox id=adminId name=roles[] value="ROLE_ADMIN">
    <label for="adminId">Admin</label>
    </br>
    <input type=checkbox id=userId name=roles[] value="ROLE_USER">
    <label for="adminId">User</label>
    </br>

    <input type="submit" value="Create User">
    </br>

</form>
</br>
<form th:action="@{/logout}" method="POST">
    <input type="submit" value="logout"/>
</form>
</body>
</html>