<!DOCTYPE html>
<html lang="en" meta charset="UTF-8" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Admin panel</title>
    <script type="text/javascript" src="webjars/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="webjars/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script type="text/javascript" th:src="@{js/main.js}" src="../static/js/main.js"></script>

</head>
<body>
<div class="container-fluid">
    <div class="row text-light bg-dark">
        <p class="col mt-2 mb-2"><span class="font-weight-bold" th:text="${user.email}"></span>
            <span> with roles: </span>
            <span class="font-weight-bold" th:text="${user.getRole(user)}"></span>
        </p>
        <p class="col text-light mt-2 mb-2">
            <a class="float-right text-light" th:href="@{/logout}" method="POST">
                logout
            </a>
        </p>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 p-0">
            <a th:href="@{/admin}" class="btn btn-outline-primary btn-block border-0">Admin</a>
            <a th:href="@{/user}" class="btn btn-primary btn-block border-0">User</a>
        </div>
        <div class="col-md-10  bg-light">

            <h1>User information-page</h1>


            <table class="table">
                <thead>
                <tr>
                    <td>
                        <h5>About users</h5>
                    </td>
                </tr>
                </thead>

                <!--            Вкладка Users table начало-->
                <!--            <div class="card">-->
                <!--                <div class="card-block">-->
                <tbody class="bg-white">
                <tr>
                    <td>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Surname</th>
                                <th>Email</th>
                                <th>Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:object="${user}">
                                <td th:text="${user.id}"></td>
                                <td th:text="${user.name}"></td>
                                <td th:text="${user.surname}"></td>
                                <td th:text="${user.email}"></td>
                                <td th:text="${user.getRole(user)}"></td>

                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

</body>
</html>