<!DOCTYPE html>
<html lang="en" meta charset="UTF-8" xmlns:th="https://www.thymeleaf.org">
<title>Update user</title>
<body>
<form action="#" th:action="@{/user-update/{id}(id=${user.id})}" th:object="${user}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="name">First name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="First Name">
    <br/>
    <label for="surname">Last name</label>
    <input type="text" th:field="*{surname}" id="surname" placeholder="Last Name">
    <br/>
    <label for="email">email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="email">
    <br/>
    <label for="password">password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="password">
    <br/>
    <input type=checkbox id=adminId name=roles[] value="ROLE_ADMIN">
    <label for="adminId">Admin</label>
    </br>
    <input type=checkbox id=userId name=roles[] value="ROLE_USER">
    <label for="userId">User</label>
    </br>

    <input type="submit" value="Update User">
</form>
</br>

<form th:action="@{/logout}" method="POST">
    <input type="submit" value="logout"/>
</form>
</body>
</html>