<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>User page</title>
    <script type="text/javascript" src="webjars/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="webjars/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script type="text/javascript" th:src="@{js/main.js}" src="../static/js/main.js"></script>

</head>
<body>
<div class="container-fluid">
    <h1>hi</h1>
<!--    <div class="row g-2">-->
<!--        <div class="col-sm-3">-->
<!--            <div class="d-grid gap-2 mx-auto">-->
<!--                <ul>-->
<!--                    <a th:href="@{/admin}"-->
<!--                       class="btn btn-primary eBtn">Admin</a>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>
</body>
</html>